*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-size: 1em;
	width: 100%;
	height: 100%;
/* 	position: fixed; */
}

div{
	border:1px solid hsl(210, 0%, 70%);
/* 	border:1px solid transparent; */
	box-sizing: border-box;
}

/* 两个导航栏的css */
.header{
	width: 100%;
	height: 25px;
	background-color: hsl(210, 5%, 40%);
	border-width: 1px;
	border-color: hsl(210, 5%, 45%);
}
.funchoose{
	width: 100%;
	height: 45px;
}

/* 主体部分的框架div的css */
.main{
	width: 100%;
	height: 865px;
}
.mainleft{
	width: 12%;
	height: 100%;
	float: left;
}
.mainright{
	width: 88%;
	height: 100%;
	float: left;
}

/* mainleft选择框组的css */
.choose{
/*	padding: 0px 30px;*/
	height: 13%;
	padding: 10px 0px;
	background-color: #9F4D95;
	background-color:#1B6D85;
	position: relative;
}
.yearchose{
	width: 100%;
	padding: 0 15%;
}
.search{
	position: absolute;
	width: 100%;
	top: 60px;
	height: 35px;
	padding: 0px 8%;
/*	padding: 1px 4px 2px;*/
/*	background-color: red;*/
/*	border-width: 0px;*/
}

/* mainleft班级列表的css */
.classall{
	overflow: auto;
	height: 83%;
/* 	background-color: hsla(0, 0%, 35%, 0.2); */
}
.classitem{
	border-top: 1px solid transparent;
}
.classbutton{
	width: 100%;
	height: 40px;
	border-radius: 3px;
}
.leftfooter{
	width: 100%;
	height: 4%;
}

/* mainright主体部分的框架div的css */
.maintitle{
	width: 100%;
	height: 5%;
}
.mainbody{
	width: 100%;
	height: 95%;
/* 	background-color: hsl(0,0%,90%); */
}

/* mainbody核心显示部分 */
.bodyleft{
	float: left;
	width: 50%;
	height: 100%;
}
.bodycenter{
	float: left;
	width: 30%;
	height: 100%;
}
.bodyright{
	float: left;
	width: 20%;
	height: 100%;
}


/* mainbody主体部分统一css */
.mainheader{
	width: 100%;
	height: 4%;
/* 	border-radius: 6px 6px 0px 0px;
	background-color:#255c96; */
}
.maincenter{
	width: 100%;
	height: 92%;
}
.mainfooter{
	width: 100%;
	height: 4%;
}

/* bodyleft主体部分各自css */
.tablediv{
	width: 100%;
	height: 100%;
}
.tablesearch{
	width: 100%;
	height: 8%;
	background-color: hsl(210, 0%, 90%);
	padding:10px 20%;
}
.maintable{
	width: 100%;
	height: 92%;
	overflow: auto;
/* 	background-color: hsla(210, 0%, 90%, 0.3); */
	padding-top: 40px;
/* 	padding-left: auto;
	padding-right: auto;
	padding: 40px auto 0px; */
}

/* 分数表css */
.score,th,td{
	border:1px solid black;
	border-collapse: collapse;
/* 	background-color: hsl(30,100%, 70%); */
	font-weight: 800;
	color: white;
	text-align:center;
}
.score{
/* 	margin-top: 40px; */
	margin: 0px auto;
}
tr{
	background-color: hsl(30,100%, 80%);
}
th{
	padding: 5px 5px;
}
tr:hover{
	background-color: hsl(30,100%, 50%);
}

td:hover{
	background-color: hsl(30,100%, 40%);
}

td{
	padding: 5px 5px;
}
caption{
	caption-side: top;
	text-align: center;
	color: white;
	background-color: green;
	padding: 10px 0;
	font-size: 2em;
}

/*下滑按钮css*/
.slide{
	width: 100%;
	position: relative;
}
.slideleft{
	position: absolute;
	left: 0px;
}
.slideright{
	position: absolute;
	right: 0px;
}

/* .active a{
	background-color: green;
} */

/* a{
	background-color: green;
} */











