<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css" th:href="@{/static/bootstrap/css/bootstrap.css}" media="all"/>
	<link rel="stylesheet" href="../static/css/teacher.css" th:href="@{/static/css/teacher.css}" media="all">
	<!-- css一定要放在头部，但是相对来说不重要的js文件（和dom元素的加载无关的js）一般
	 建议放在body标签和html标签之间-->
	<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
	<script src="../static/bootstrap/js/bootstrap.js" th:src="@{/static/bootstrap/js/bootstrap.js}"></script>
	<script src="../static/js/vue.js" th:src="@{/static/js/vue.js}"></script>
	<script src="../static/js/jquery-1.8.3.min.js" th:src="@{/static/js/jquery-1.8.3.min.js}"></script>
	<script src="../static/js/jquery-1.8.3.js" th:src="@{/static/js/jquery-1.8.3.js}"></script>
<!-- 	<script src="../static/echarts/echarts.all.js" th:src="@{/static/echarts/echarts.all.js}"></script> -->
<!-- 	<script src="../static/js/echarts.js" th:src="@{/static/js/echarts.js}"></script> -->
	<script src="../static/echarts/echarts.js" th:src="@{/static/echarts/echarts.js}"></script>
	<!-- 获取变量的js代码 -->
	<script th:inline="javascript">
		var classlist = [[${classes}]];
		var teachyears = [[${teachyears}]]
		// alert(typeof(classes));
		console.log(classlist);
		console.log(teachyears);
		
		// console.log(typeof(classeslist));
		// alert(1);
	</script>
<!-- 	<script src="../static/js/teacher.js"></script> -->
<!--    <script src="../static/js/teacher.js" th:src="@{/static/js/teacher.js}"></script> -->
</head>
<body>
	<div id="all" class="all">
		<div class="header" id="header">
			header
		</div>
		<div class="funchoose" id="funchoose">
			funchoose
		</div>
		<div class="main" id="main">
			<div class="mainleft" id="mainleft">
				<div class="choose">
					<div class="yearchose " id="yearchose">
						<select class="form-control" v-model="selected">
						  <option value="">选择教学年份</option>
						  <option v-for="year in years" :value="year">{{year}}</option>
						</select>
					</div>
					<div class="search">
						<div class="input-group ">
						      <input type="text" class="form-control" placeholder="输入相关信息" v-model="searchword">
						      <span class="input-group-btn">
						        <button class="btn btn-primary" type="button" >
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</button>
						      </span>
						</div>
					</div>
				</div>
				<div class="classall" id="classall">
					<div class="dropdown classitem" v-for="class1 in search(selected ,searchword)" :value="class1.classId">
						<button class="btn btn-primary dropdown-toggle classbutton" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						{{class1.className}}
						<span class="caret"></span>
						</button>
						<input type="hidden" :value="class1.classId"/>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li class="answeritem" v-for="answer in class1.answers" :key="answer.answerId" :value="answer.answerId"><a href="javascript:void(0)">{{answer.answerName}}</a></li>
						</ul>
					</div>
					<div class="dropdown classitem">
						<button class="btn btn-primary dropdown-toggle classbutton" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Dropdown
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li class="active"><a href="javascript:void(0)">Action</a></li>
							<li><a href="javascript:void(0)">Another action</a></li>
							<li><a href="javascript:void(0)">Something else here</a></li>
						</ul>
					</div>
					<div class="dropdown classitem">
						<button class="btn btn-primary dropdown-toggle classbutton" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Dropdown
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li class="active"><a href="javascript:void(0)">Action</a></li>
							<li><a href="javascript:void(0)">Another action</a></li>
							<li><a href="javascript:void(0)">Something else here</a></li>
						</ul>
					</div>
				</div>
				<div class="leftfooter" id="leftfooter">
					<div class="slide" id="slide">
						<button type="button" class="btn btn-info slideright">
							<span class="glyphicon glyphicon-step-forward"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="mainright" id="mainright">
				<div class="maintitle" id="maintitle">
					mainright中的maintitle
				</div>
				<div class="mainbody" id="mainbody">
					<div class="bodyleft" id="bodyleft">
						<div class="mainheader tableheader" id="tableheader">
							mainbody中的bodyleft中的mainheader，tableheader
						</div>
						<div class="maincenter tablecenter" id="tablecenter">
							<div class="tablediv" id="tablediv">
								<div class="tablesearch" id="tablesearch">
									<div class="input-group ">
									      <input type="text" class="form-control" placeholder= "输入学号或姓名 "  v-model="searchword">
									      <span class="input-group-btn">
									        <button class="btn btn-primary" type="button" style="width: 60px;">
												<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
											</button>
									      </span>
									</div>
								</div>
								<div class="maintable" id="maintabe">
									<table class="score">
										<caption>成绩表格</caption>
										<thead class="scorehead">
											<tr>
												<th class="nameth">姓名</th>
												<th class="numth">学号</th>
												<th v-for="item in paperscans[0].objMarks">{{item.questionNum}}</th>
												<th v-for="item in paperscans[0].subjScores">{{item.questionNum}}</th>
												<th>客观题得分</th>
												<th>客观题得分率</th>
												<th>主观题得分</th>
												<th>主观题得分率</th>
												<th>总分</th>
												<th>得分率</th>
											</tr>
										</thead>
										<tbody class="scorebody">
											<tr v-for="(paperscan, i) in search(searchword)" v-if="paperscan.paperScanId">
												<td class="nameth">{{paperscan.studentName}}</td>
												<td class="nameth">{{paperscan.studentId}}</td>
												<td v-for="objMark in paperscan.objMarks">{{objMark.scoreGet}}</td>
												<td v-for="subjScore in paperscan.subjScores">{{subjScore.scoreGet}}</td>
												<td>{{paperscan.objGet}}</td>
												<td>{{paperscan.objGet}}/{{paperscan.objAll}}</td>
												<td>{{paperscan.subjGet}}</td>
												<td>{{paperscan.subjGet}}/{{paperscan.subjAll}}</td>
												<td>{{paperscan.scoreGet}}</td>
												<td>{{paperscan.scoreGet}}/{{paperscan.score}}</td>
											</tr>
											<tr v-for="(paperscan, i) in search(searchword)" v-if="!paperscan.paperScanId">
												<td class="nameth">{{paperscan.studentName}}</td>
												<td class="numth">{{paperscan.studentId}}</td>
												<th v-for="item in paperscans[0].objMarks">0</th>
												<th v-for="item in paperscans[0].subjScores">0</th>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
											</tr>											
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="mainfooter tablefooter" id="tablefooter">
							<div class="slide" id="slide">
								<button type="button" class="btn btn-info slideleft" id="tableleft">
									<span class="glyphicon glyphicon-step-backward"></span>
								</button>
								<button type="button" class="btn btn-info slideright" id="tableright">
									<span class="glyphicon glyphicon-step-forward" id="tablerightspan"></span>
								</button>
							</div>
						</div>
					</div>
					<div class="bodycenter" id="bodycenter">
						<div class="mainheader chartheader" id="chartheader">
							mainbody中的bodycenter中的mainheader，chartheader
						</div>
						<div class="maincenter chartcenter" id="chartcenter" style="overflow: auto;">
<!-- 							<div style="width: 700px; background-color: red;height: 100px;"></div> -->
							<div class="panel panel-info">
							  <div class="panel-heading">
							    <h3 class="panel-title">成绩分段表</h3>
							  </div>
							  <div class="panel-body" id="scorebar" style="overflow-x: auto; padding: 0px;">
								  <div id="scorebarchart" style="width: 200px; height: 200px;"></div>
							  </div>
							</div>
							<div class="panel panel-info">
							  <div class="panel-heading">
							    <h3 class="panel-title">成绩分段表</h3>
							  </div>
							  <div class="panel-body">
							    Panel content
							  </div>
							</div>
							<div class="panel panel-info">
							  <div class="panel-heading">
							    <h3 class="panel-title">成绩分段表</h3>
							  </div>
							  <div class="panel-body">
							    Panel content
							  </div>
							</div>
						</div>
						<div class="mainfooter chartfooter" id="chartfooter">
							<div class="slide" id="slide">
								<button type="button" class="btn btn-info slideleft" id="chartleft">
									<span class="glyphicon glyphicon-step-backward"></span>
								</button>
								<button type="button" class="btn btn-info slideright" id="chartright">
									<span class="glyphicon glyphicon-step-forward"></span>
								</button>
							</div>
						</div>
					</div>
					<div class="bodyright" id="bodyright">
						<div class="mainheader describeheader" id="describeheader">
							mainbody中的bodyright中的mainheader，describeheader
						</div>
						<div class="maincenter describecenter" id="describecenter">
							
						</div>
						<div class="mainfooter describefooter" id="describefooter">
							<div class="slide" id="slide">
								<button type="button" class="btn btn-info slideleft" id="describeleft">
									<span class="glyphicon glyphicon-step-backward"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 即此处，更好 -->
<!-- 	<script src="../static/js/teacher.js" th:src="@{/static/js/teachervue.js}"></script> -->
	<script src="../static/js/teachervue.js" th:src="@{/static/js/teachervue.js}"></script>
	<script src="../static/js/teacher.js" th:src="@{/static/js/teacher.js}"></script>
</body>
<!-- <script src="../static/js/teacher.js"></script> -->
<!-- <script src="../static/js/teacher.js" th:src="@{/static/js/teacher.js}></script> -->
 <!--此处也可放置获取变量的js代码，且相对来说更好 -->
 <!--vue的相关操作以及jquery的动效都放置在此处 -->
 <!--建议将此处的代码移动至body的结束标签之上 -->
 <!--<script type="text/javascript" src="../static/js/teacher.js"></script> -->
</html>
<!-- <script src="../static/js/teacher.js"></script> -->