<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.edu.oms.dao.ObjMarkMapper">
  <resultMap id="BaseResultMap" type="com.neu.edu.oms.entity.ObjMark">
    <constructor>
      <idArg column="obj_mark_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="paper_sacn_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="score_get" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="score" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="point_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goal_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="mark_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="is_right" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="question_num" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="reserve2" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    obj_mark_id, paper_sacn_id, score_get, score, point_id, goal_id, mark_time, is_right, 
    question_num, reserve2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from obj_mark
    where obj_mark_id = #{objMarkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from obj_mark
    where obj_mark_id = #{objMarkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neu.edu.oms.entity.ObjMark">
    insert into obj_mark (obj_mark_id, paper_sacn_id, score_get, 
      score, point_id, goal_id, 
      mark_time, is_right, question_num, 
      reserve2)
    values (#{objMarkId,jdbcType=INTEGER}, #{paperSacnId,jdbcType=INTEGER}, #{scoreGet,jdbcType=SMALLINT}, 
      #{score,jdbcType=SMALLINT}, #{pointId,jdbcType=INTEGER}, #{goalId,jdbcType=INTEGER}, 
      #{markTime,jdbcType=TIMESTAMP}, #{isRight,jdbcType=TINYINT}, #{questionNum,jdbcType=SMALLINT}, 
      #{reserve2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neu.edu.oms.entity.ObjMark">
    insert into obj_mark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objMarkId != null">
        obj_mark_id,
      </if>
      <if test="paperSacnId != null">
        paper_sacn_id,
      </if>
      <if test="scoreGet != null">
        score_get,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="pointId != null">
        point_id,
      </if>
      <if test="goalId != null">
        goal_id,
      </if>
      <if test="markTime != null">
        mark_time,
      </if>
      <if test="isRight != null">
        is_right,
      </if>
      <if test="questionNum != null">
        question_num,
      </if>
      <if test="reserve2 != null">
        reserve2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objMarkId != null">
        #{objMarkId,jdbcType=INTEGER},
      </if>
      <if test="paperSacnId != null">
        #{paperSacnId,jdbcType=INTEGER},
      </if>
      <if test="scoreGet != null">
        #{scoreGet,jdbcType=SMALLINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=SMALLINT},
      </if>
      <if test="pointId != null">
        #{pointId,jdbcType=INTEGER},
      </if>
      <if test="goalId != null">
        #{goalId,jdbcType=INTEGER},
      </if>
      <if test="markTime != null">
        #{markTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRight != null">
        #{isRight,jdbcType=TINYINT},
      </if>
      <if test="questionNum != null">
        #{questionNum,jdbcType=SMALLINT},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neu.edu.oms.entity.ObjMark">
    update obj_mark
    <set>
      <if test="paperSacnId != null">
        paper_sacn_id = #{paperSacnId,jdbcType=INTEGER},
      </if>
      <if test="scoreGet != null">
        score_get = #{scoreGet,jdbcType=SMALLINT},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=SMALLINT},
      </if>
      <if test="pointId != null">
        point_id = #{pointId,jdbcType=INTEGER},
      </if>
      <if test="goalId != null">
        goal_id = #{goalId,jdbcType=INTEGER},
      </if>
      <if test="markTime != null">
        mark_time = #{markTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRight != null">
        is_right = #{isRight,jdbcType=TINYINT},
      </if>
      <if test="questionNum != null">
        question_num = #{questionNum,jdbcType=SMALLINT},
      </if>
      <if test="reserve2 != null">
        reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
    </set>
    where obj_mark_id = #{objMarkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neu.edu.oms.entity.ObjMark">
    update obj_mark
    set paper_sacn_id = #{paperSacnId,jdbcType=INTEGER},
      score_get = #{scoreGet,jdbcType=SMALLINT},
      score = #{score,jdbcType=SMALLINT},
      point_id = #{pointId,jdbcType=INTEGER},
      goal_id = #{goalId,jdbcType=INTEGER},
      mark_time = #{markTime,jdbcType=TIMESTAMP},
      is_right = #{isRight,jdbcType=TINYINT},
      question_num = #{questionNum,jdbcType=SMALLINT},
      reserve2 = #{reserve2,jdbcType=VARCHAR}
    where obj_mark_id = #{objMarkId,jdbcType=INTEGER}
  </update>

  <!--f1 根据PaperScanId删除-->
  <delete id="deleteByPaperScanId" parameterType="java.lang.Integer">
    delete from obj_mark
    where paper_sacn_id = #{paperScanId,jdbcType=INTEGER}
  </delete>
    <!-- 根据PaperScanId选取客观题列表,此表的字段写错了，数据库写错了-->
  <select id="getObjMarkListBypaperScanId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      select *
      from obj_mark
      where paper_sacn_id = #{paperScanId,jdbcType=INTEGER}
      order by question_num asc
  </select>
</mapper>